.App {
  min-height: 100vh;
  color: #fff;
}

.Header {
  padding: 10px 20px;
  display: flex;
}

.Header .logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.Header .home {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 0.6rem;
  color: #fff;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

button {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  color: #202124;
  cursor: pointer;
  padding: 8px 16px;
}

button.button-primary {
  background-color: #f79e1c;
}

button.button-primary:disabled {
  background-color: #aaaaaa;
  cursor: not-allowed;
}

button.button-primary:active {
  background-color: #f5a938;
}

button.button-other {
  background-color: #ffffff00;
  color: #ffffff;
  text-decoration: underline;
}

button.button-other:active {
  background-color: #ffffff11;
}
